<!DOCTYPE html>

<html lang="en">
<head>
  <!-- <meta charset="utf-8"> -->
  <meta charset="utf-8" name=viewport content="width=device-width, initial-scale=1">
  <title>Christmas List</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 768px)" href="/stylesheets/mobile.css" />
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type="text/javascript" src="scripts/ChristmasList.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71063650-1', 'auto');
  ga('send', 'pageview');

</script>

</head>

{% autoescape true %}
<html>
  <body>
  
    {% if found_person %}
        <div id="header" class="ui-widget">
        <h1>Christmas Lists for {{ person.name }}</h1>
        </div>
        
        <div class="hidden-div">
            <label id="person-name">{{ person.name }}</label>
        </div>
            
        <div id="mylist" class="ui-widget">
        <div id="div-for-border">
        <div id="h2-table">
            <div id="h2-div">
                <div id="left-h2-icon"> 
                    <img src="stylesheets/images/snowflake.png" class="snowflake">
                </div>
                <div id="middle-h2-text"> 
                    <h2>Your List</h2>
                </div>
                <div id="right-h2-icon"> 
                    <img src="stylesheets/images/snowflake.png" class="snowflake">
                </div>
            </div>
        </div>        
		  <table class="ui-widget ui-widget-content">   
				<thead class="ui-widget-header">
                    <tr>
                        <th>Item</th>
                        <th id="link" >Link</th>
                        <th id="action" >Action</th>
                    </tr>		
                </thead>
          {% for next_item in person.items %}
                <tbody class="ui-widget-content">
                    <tr id={{ next_item.id }}>
                        <td>{{ next_item.description }}</td>
                        {% if next_item.link == "" %}
                            <td></td>
                        {% else %}
                            <td><a href={{ next_item.link }}>Link</a></td>
                        {% endif %}                    
                        <td><button id="edit-item">Edit</button></td>
                    </tr>
                </tbody>
		  {% endfor %}
		  </table>
          <button id="add-item">Add New Item</button>
        </div>
        </div>

 
        <br>
        {% for assigned_person in assigned_people %}
            <div id="assigned_list" class="ui-widget">
            <div id="div-for-border">
            
            <div id="h2-table">
                <div id="h2-div">
                    <div id="left-h2-icon"> 
                        <img src="stylesheets/images/snowman.png" class="snowman"> 
                    </div>
                    <div id="middle-h2-text"> 
                        <h2>{{ assigned_person.name }}'s List for the {{ assigned_person.family }} Family Gift Exchange</h2>
                    </div>
                    <div id="right-h2-icon"> 
                        <img src="stylesheets/images/snowman.png" class="snowman"> 
                    </div>
                </div>
            </div>
            <br>
			<table id={{ assigned_person.name }} class="ui-widget ui-widget-content">   
				<thead class="ui-widget-header">
                    <tr>
                        <th>Item</th>
                        <th id="link" >Link</th>
                        <th id="fulfilled" >Fulfilled</th>
                    </tr>		
                </thead>
			   {% for next_assigned_item in assigned_person.items %}
				<tbody class="ui-widget-content">
                    <tr>
                        <td>{{ next_assigned_item.description }}</td>
                        {% if next_assigned_item.link == "" %}
                            <td></td>
                        {% else %}
                            <td><a id="link" href={{ next_assigned_item.link }}>Link</a></td>
                        {% endif %}
                        <!-- Couldn't figure out a great way to initialize the fulfilled itme correctly.
                             So I added the value as the id and will process it in jquery after the page loads. -->
                        <td><div id={{ next_assigned_item.is_fulfilled }} class="toggle-button"><button></button></div>
                    </tr>
                </tbody>
			  {% endfor %}
		    </table>
            </div>
            </div>
            <br>
        {% endfor %}        
        
	{% else %}
        No name found
	{% endif %}    
    
    <!-- Form for editing an existing item.  Only visible when Edit Item is selected -->
    <div id="edit-form" title="Edit Item">
      <form>
        <fieldset>
          <label for="edit-description">Description</label>
          <input type="text" name="edit-description" id="edit-description" class="text ui-widget-content ui-corner-all">
          <label for="edit-link">Link (Optional)</label>
          <input type="text" name="edit-link" id="edit-link" class="text ui-widget-content ui-corner-all">
    <!--      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">-->
        </fieldset>
      </form>
    </div>

    <!-- Form for creating a new item.  Only visible when Add New Item is selected -->
    <div id="add-form" title="Add New Item">
      <form>
        <fieldset>
          <label for="add-description">Description</label>
          <input type="text" name="add-description" id="add-description" class="text ui-widget-content ui-corner-all">
          <label for="add-link">Link (Optional)</label>
          <input type="text" name="add-link" id="add-link" class="text ui-widget-content ui-corner-all">
    <!--       <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">-->
        </fieldset>
      </form>
    </div>
    
  </body>
</html>
{% endautoescape %}
 
