body {
    /*font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);*/
    background-image: url("images/white-snow-background.jpg");
    /*background-repeat: repeat;*/
    /*background-size: 100%;*/
    /*font-size: 62.5%;*/
}



#header {
    text-align:center;
    padding:5px;
}

h2 {
    text-align:center;
    padding:5px;
/*    background-color: #FFFFFF;*/
}

#list {
    
    background-color: #FFFFFF;
/*    padding:5px;*/
    margin-left: auto;
    margin-right: auto;
    width: 60%;
/*    height: 5em;*/
}


textarea#listbox {
	width: 100%;
	height: 10em;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

#savebutton {
}
/*
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

th {
    font-weight: bold;
}
*/
.hidden-div { 
    display: none;
}

.toggle-button { 
	background-color: white; 
	margin: 5px 0; 
	border-radius: 20px; 
	border: 2px solid #D0D0D0; 
	height: 24px; 
	cursor: pointer; 
	width: 50px; 
	position: relative; 
	display: inline-block; user-select: none; 
	-webkit-user-select: none; -ms-user-select: none; 
	-moz-user-select: none; 
}

.toggle-button button { 
	cursor: pointer; 
	outline: 0; 
	display:block; 
	position: absolute; 
	left: 0; 
	top: 0; 
	border-radius: 100%; 
	width: 30px; 
	height: 30px; 
	background-color: white; 
	float: left; 
	margin: -3px 0 0 -3px; 
	border: 2px solid #D0D0D0; 
	transition: left 0.3s; 
}

.toggle-button-selected { 
	background-color: #83B152; 
	border: 2px solid #7DA652; 
}

.toggle-button-selected button { 
	left: 26px; 
	top: 0; 
	margin: 0; 
	border: none; 
	width: 24px; 
	height: 24px; 
	box-shadow: 0 0 4px rgba(0,0,0,0.1); 
}

div#assigned_list,  div#mylist { 
    margin: 20px 0; 
    /*align-content: center;*/
    padding-left: 20%;
    padding-right: 20%;
}

div#assigned_list table, div#mylist table { 
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 100%; 
}

div#assigned_list table td, div#assigned_list table th, div#mylist table td, div#mylist table th{ 
    border: 1px solid #eee; 
    padding: .6em 10px; 
    text-align: left; 
}

label, input { 
    display:block; 
}

input.text { 
    margin-bottom:12px; 
    width:95%; 
    padding: .3em; 
}

fieldset { 
    padding:0; 
    border:0; 
    margin-top:15px; 
}

th#fulfilled, th#link, th#action { 
    width: 4em; 
}

button#add-item {
    text-align: center;
}

div#div-for-border { 
 /*   border: 2px solid #CECECE; 
    border-radius: 15px;
    background-color: white;
    opacity: 0.5;*/
}

.snowflake, .snowman {
    height: 2em;
    width: 2em;
}